:host {
	--main-bg-color: #3a3c44;
	--main-color: #eee;
	--string-text-color: #f29766;
	--number-text-color: #77eda4;
	--boolean-text-color: #ed77e5;
	--null-text-color: #fff;

	position: relative;
	display: block;
	padding: 0.5rem 1rem;
	background-color: var(--main-bg-color);
	color: var(--main-color);
	font: 400 14px/1.2rem monospace;
	text-rendering: optimizelegibility;

	.segment {
		.line {
			display: block;
			white-space: nowrap;
			word-wrap: break-word;

			.toggler {
				display: inline-block;
				margin-top: -1px;
				margin-right: 0.2rem;
				margin-left: -0.47rem;
				width: 1rem;
				height: 1rem;
				color: #787878;
				vertical-align: middle;

				.plus,
				.minus {
					fill: #787878;
				}
			}

			.bracket {
				color: #898989;
			}

			.key {
				color: #cfd0d0;
			}

			.separator {
				margin: 0 6px 0 2px;
				color: #898989;
			}

			.size {
				margin-left: 8px;
				color: #747272;
				font-size: 0.8rem;
				font-style: italic;
				user-select: none;
				vertical-align: middle;
			}

			.value {
				&[data-type="string"] {
					color: var(--string-text-color);
				}

				&[data-type="number"] {
					color: var(--number-text-color);
				}

				&[data-type="boolean"] {
					color: var(--boolean-text-color);
				}

				&[data-type="null"],
				&[data-type="undefined"] {
					color: var(--null-text-color);
				}

				&[data-type="array"],
				&[data-type="object"] {
					overflow: hidden;
					width: 90%;
					color: #747272;
					font-size: 0.8rem;
					font-style: italic;
					vertical-align: middle;
				}
			}
		}

		& > {
			.line {
				cursor: pointer;

				&:hover > {
					.key {
						color: #e7e7e7;
					}

					.toggler .plus,
					.toggler .minus {
						fill: #979797;
					}
				}
			}

			.children {
				padding-left: 1rem;
				border-left: 1px dotted #585855;

				&[data-type="array"] {
					& > .line > .key,
					& > .line > .separator {
						color: #747272;
						user-select: none;
					}
				}
			}
		}

		&[aria-expanded="true"] > {
			.line > .toggler {
				.plus {
					display: none;
				}

				.minus {
					display: inline-block;
				}
			}

			.line > .value {
				display: none;
			}
		}

		&[aria-expanded="false"] > {
			.line > .toggler {
				.plus {
					display: inline-block;
				}

				.minus {
					display: none;
				}
			}

			.line > .value {
				display: inline-block;
			}

			.line > .bracket,
			.line > .size,
			.line > .toggler .minus,
			:last-child,
			.children {
				display: none;
			}
		}

		&:hover > {
			.children {
				border-color: #858580;
			}

			.line > .bracket {
				color: #fffff7;
			}
		}
	}
}
